@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto-Bold'), url(./assets/fonts/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: local('RobotoCondensed-Regular'), url(./assets/fonts/RobotoCondensed-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: local('RobotoCondensed-Bold'), url(./assets/fonts/RobotoCondensed-Bold.ttf) format('truetype');
}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.diagonalBox {
  position: absolute;
  height: 100vh;
  width: 100%;
  bottom: 50%;
  background-color: #FF2020 !important; 	
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  transform: skewY(-11deg);
}

.content { 	
  transform: skewY(11deg);
  padding: 0 24px;
  max-width: 1000px;
  position: absolute;
  z-index: 1000;
}

.imageContainer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tilt {
  position: absolute;
  max-width: calc(100% - 1048px);
  max-height: 80vh;
  right: 24px;
}

.phone {
  position: relative;
  max-height: 80%;
  max-width: calc(100% - 48px);
  padding: 0 24px;
  bottom: -50%;
  display: none;
}

header {
  margin-bottom: 48px;
}

h1 {
  font-family: 'RobotoCondensed-Regular';
  font-size: 54px;
  text-align: center;
  color: #ffffff;
}

strong {
  font-family: 'RobotoCondensed-Bold';
}

.formContainer {
  display: flex;
  width: 80%
}

input {
  border-radius: 4px;
  padding: 8px;
  background-color: #FFFFFF;
  color: #898989;
  margin-right: 4px;
  font-family: 'RobotoCondensed-Regular';
  font-size: 14px;
  width: calc(100%/1.5);
  border: 1px solid #FF2020;
}

input:focus, button:focus {
  outline: none;
}

button {
  border-radius: 4px;
  background-color: #FF2020;
  padding: 8px;
  color: #FFFFFF;
  font-family: 'RobotoCondensed-Regular';
  font-size: 14px;
  width: calc(100%/3);
  white-space: nowrap;
  border: 1px solid #FFFFFF;
}

button:hover {
  cursor: pointer;
}

.errorText {
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'RobotoCondensed-Regular';
  align-self: flex-start;
}

.errorContainer {
  width: 80%;
}

.registeredContainer {
  background-color: #f4f4f4;
  border-radius: 8px;
  max-width: 80%;
  animation: fadeIn ease .5s;
  -webkit-animation: fadeIn ease .5s;
  -moz-animation: fadeIn ease .5s;
  -o-animation: fadeIn ease .5s;
  -ms-animation: fadeIn ease .5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.registeredText {
  font-size: 20px;
  font-family: 'RobotoCondensed-Regular';
  text-align: center;
  color: #000;
  padding: 6px 12px;
}

@media only screen and (max-width: 1500px) {
  h1 {
    font-size: 44px;
  }
  .content {
    max-width: 800px;
  }
  .tilt {
    max-width: calc(100% - 848px);
  }
}

@media only screen and (max-width: 1300px) {
  h1 {
    font-size: 34px;
  }
  .content {
    max-width: 600px;
  }
  .tilt {
    max-width: calc(100% - 648px);
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 48px;
  }
  .content {
    max-width: 1000px;
  }
  .tilt {
    display: none;
  }
  .phone {
    display: block;
  }
  .imageContainer {
    justify-content: center;
  }
}

@media only screen and (max-width: 860px) {
  h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 724px) {
  h1 {
    font-size: 36px;
  }
}

@media only screen and (max-width: 656px) {
  h1 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 590px) {
  h1 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 522px) {
  h1 {
    font-size: 24px;
  }
  .registeredText {
    font-size: 16px;
  }
}

@media only screen and (max-width: 366px) {
  .formContainer {
    width: 100%;
  }
  .registeredContainer {
    max-width: 100%;
  }
  .errorContainer {
    width: 100%;
  }
}